/* Estilo para toda la pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3e6;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #ff8c8c;
}

/* Menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background: #d94c4c;
    padding: 10px;
    border-radius: 5px;
}

.back-button {
    text-decoration: none;
    background-color: #ff5757;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #d94c4c;
}

.products {
    text-align: center;
    padding: 50px 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product:hover {
    transform: scale(1.05);
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ff8c8c;
    color: white;
    margin-top: 50px;
}

.category-buttons {
    text-align: center;
    margin-top: 10px;
}

.category-btn {
    background-color: #ff4d00;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.category-btn:hover {
    background-color: #d63c00;
    transform: scale(1.05); 
}

.category-btn:active {
    background-color: #b32d00;
    transform: scale(0.98);
}

    .category-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    /* Estilos de los Botones */
    .category-btn {
        background-color: darksalmon;
        color: white;
        border: none;
        padding: 12px 20px;
        font-size: 18px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
        font-weight: bold;
    }

    /* Efectos al pasar el mouse */
    .category-btn:hover {
        background-color: darksalmon ;
        transform: scale(1.1);
    }

    /* Efecto al hacer clic */
    .category-btn:active {
        background-color: darksalmon;
        transform: scale(0.95);
    }
    

            




















   