/*Estilo para toda la pagina */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff3e6;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #ff8c8c;
}

/* Menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    background: #d94c4c;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo para el botón de regreso */
.back-button {
    text-decoration: none;
    background-color: #ff5757;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #d94c4c;
}

/* Estilo para los productos */
.products {
    text-align: center;
    padding: 50px 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    max-width: 800px;
    margin: auto;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product:hover {
    transform: scale(1.05);
}


footer {
    text-align: center;
    padding: 15px;
    background-color: #ff8c8c;
    color: white;
    margin-top: 50px;
}